//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/materialize-css/sass/ghpages-materialize.scss";
@import "node_modules/font-awesome/scss/font-awesome";

html {
  height: 100%;
  width:100%;
}
body {
  height: 100%;
  width:100%;
}
#full_screen {
  height: 100%;
  width:100%;
  position: relative; 
}
.full_screen {
  height: 100%;
  width: 100%;
}
#app{
	height: 100%;
	width:100%;
}

// PROFILE VUE

#add_key_row {
	background-color: #a899f6;
	padding: 6px;
}

.eth_tab li:nth-child(odd) {
	background-color: #eeeeee;
}

.eth_tab li:nth-child(even) {
	background-color: #cccccc;
}

.eth_row {
	padding: 6px;
}

.eth_tab li:nth-child(odd) {
	background-color: #d3d3d3;  
}

.eth_tab li:nth-child(even) {
	background-color: #f6f6f6;  
}

.container {
	width: 100%;
	height: 100%;
	margin-left: 0rem;
	margin-right: 0rem;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

#upper_profile_div {
	height: 400px;
	width: 100%;
}

#background_pic {
	height: 500px;
	width: 100%;
	opacity: 1;
}

#lower_profile_div {
	height: 450px;
	width: 100%;
}

#profile_pic {
	height: 100%;
}

#profile_div {
	top: 60%;
	height: 40%;
	width: 100%;
	z-index: 100;
}

#picture_div {
	top: 0%;
	left: 50%;
	margin: -75px;
	height: 150px;
	width: 150px;
	z-index: 100;
}

#camera_button {
	top: 0%;
	left: 50%;
	margin-left: 47px;
	margin-top: -47px;
	height: 56px;
	width: 56px;
	z-index: 110;
}

#profile_infos {
	margin-top: 80px;
}

.profile_block {
	padding: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.picture_mini {
	margin: 1em;
	width: 100px;
	height: 100px;
}
.picture_infos {
	width: 100px;
	height: 25px;
	marging-top: 75px;
}

.square_picture {
	width: 100px;
	height: 100px;
}

#friends_search_input {
	margin: 2px;
	z-index: 6;
	border-bottom: none;

}

.search_section {
	height: 45px;
    width: auto;
    margin-left: 4px;
    margin-right: 4px;
    position: relative;
}

#user_search_button {
	position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;	
}

.field_header {
	height: 35px;
	padding-top: 12px;
	color: #b3e5ea;	
	margin-top: 2px;
}

.top_padding {
	margin-top: 12px;	
}

.squared_list {
    width: 150px;
    height: 150px;
    float: left;
}

.profile_block .row {
	margin-bottom: 0px
}

.profile_block {
	padding: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

// UTILS

.invisible {
	visibility: hidden;
	disabled: true;
}

.visible {
	visibility: visible;
	disabled: false;
}

.overflow {
	overflow: auto;
	width: 100%;
}

.transparent_low {
	opacity: 0.7;
}

.transparent_med {
	opacity: 0.5;
}

.no_fit {
	object-fit: cover;
	object-position: center;
}


.centered {
	background-position: center center;
	background-repeat: no-repeat;
    background-size: auto 100%;
}






.search_section {
	opacity: 0.7;
}

/*
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    custom_search_bar

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

.search_section {
	height: 45px;
    width: 100%;
    border-radius: 2px;
    visibility: inherit;
	border-bottom: none;
    background-color: #eeeeee;
}

.select_input {
	height: 45px;
	margin: 0px;
	width: 90%;
}

.close_button {
	left: 90%;
	width: 5%;
    font-size: 1.3rem;
    margin-top: 10px;
	visibility: inherit;
	float: right;
}

.close_button a {
	visibility: inherit;
}

.select_avatar {
	height: 35px;
	width: 35px;
	object-fit: cover;
}

.selected_results {
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
	display: inline;

}

.selected_results li {
	display: inline;
	margin-right: 4px;
}

.selected_item {
	border-radius: 6px;
	margin-left: 1px;
	margin-right: 1px;
    background-color: #666666;
    display: inline;
}

.search_results {
	width: 100%;
	margin-top: 24px;
    border-radius: 2px;
}


.little_top_padding {
	padding-top: 3px;
}

.float {
	float: left;
}
